<html>
<head>
    <meta name="viewport" content="width=device-width"    />
    <title>Login</title>
    
</head>
<body>
    <div>
        <form>
            <h2>Login Here</h2>
            <div>
                <label for="txtName">User Name</label>
                <div>
                    <input type="text" name="txtName"  />
                    <span>Name Required</span>
                </div>
            </div>
            <div>
                <label for="txtPwd">Password</label>
                <div>
                    <input type="password" name="txtPwd"   />
                    <span>Invalid Password</span>
                </div>
            </div>
            <div>
                <button>Login</button>

            </div>
        </form>
    </div>
</body>
</html>