@using WebApplication2.Data.ViewModels;
@model LoginVM

@{ 
    ViewData["Title"] = "Log in to your account";
}
<div class="h2">
    <h2 class="myheader card-header"> Welcome to KFH </h2>
</div>
<div class="row">
    <div class="col-md-6 offset-3" style=" background-image:src(/wwwroot/Pics/kfhback.PNG)">
        <p>
            <h4 class="myheader2">[ Together we achieve more! ]</h4>
        </p>
        @if(TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"] </span>
                </div>
            }
        <style>
            body {
                background-image: url(/Pics/kfhback.PNG);
            }

            .myheader2 {
                text-align: center;
                color: forestgreen;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: bold;
            }

            .myheader {
                color: forestgreen;
                font-weight: bold;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            .login {
                color: green;
                font-weight: bold;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
          
        </style>
        <div class="row">
            <div class="col-md-8 offset-2" style=" background-image:src(/wwwroot/Pics/kfhback.PNG)">
                <form class="login" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-lable"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-lable"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Log in" />
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>