@model List<Question>

@{
    ViewData["Question"] = "List of Questions";
}
<div class="u-expanded-width u-form u-form-1">
    <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
        <div class="u-form-group u-form-select u-form-group-1">
            <label for="select-a3fe" class="u-label">The leader to send survey to:</label>
            <input type="text" name="Leader" placeholder=" Leader Name" />
        </div>
        <div class="u-form-group u-form-select u-form-group-2">
            <label for="select-ebcc" class="u-label">Select Type of survey to make:</label>
            <input type="text" name="Type" placeholder=" Type of the survey" />
        </div>
        <div class="u-form-group u-form-group-4">
            <label for="text-33a1" class="u-label">Survey title</label>
            <input type="text" placeholder="title" id="title" name="Title" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
        </div>
        <div class="u-form-group u-form-textarea u-form-group-5">
            <label for="textarea-6f36" class="u-label">Survey Discription</label>
            <textarea rows="4" cols="50" name="Discription" placeholder="Discription" id="Discription-6f36" name="Discription" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""></textarea>
        </div>
        <div class="u-form-group u-form-textarea u-form-group-5">
            <label for="textarea-6f36" class="u-label">Question</label>
            <textarea rows="4" cols="50" name="Questione" placeholder="Question" id="Question-6f36" name="Question" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""></textarea>
        </div>
        <div class="u-align-center u-form-group u-form-submit">
            <a href="#" class="u-btn u-btn-submit u-button-style">Next<br> </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
        <input type="hidden" value="" name="recaptchaResponse">
    </form>
</div>